@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Raleway&display=swap');

/* 

２つ目のフォントはbackup（１つ目が表示できないとき）
font-family: 'Oswald', sans-serif;
font-family: 'Raleway', sans-serif;

color values:
        #96746b
        #c7a17a
        #312a26
        #eaeaea
        #ffffff
*/

/* Reset decoration */

*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

/* Global Properties = not mandatory but applies all the elements */

h1, h2, h3, h4, h5, h6{
    font-family: 'Oswald', sans-serif;
}

p{
    font-family: 'Raleway', sans-serif;
}

.wrapper{
    width: 100%;
    margin: auto;
}

/* header section 1 */

.nav{
    /* border: 4px solid red; */
    overflow: auto;
    width: 85%;
    margin: auto;
}

.nav h1{
    /* border: 1px dashed green; */
    float: left;
}

.nav h1 a{
    color: #96746b;
    text-decoration: none;
    text-transform: uppercase;
}

.nav ul{
    /* border: 1px dashed blue; */
    float: right;
    margin-top: 1em;
}

.nav ul li{
    display: inline;
    margin-left: 1em;
}

.nav ul li a{
    color:  #312a26;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
}

/* banner section 2 */

.banner{
    /* border: 4px solid red; */
    width: 100%;
    height: 600px;
    background: #eaeaea url(../images/banner-bg.jpg) no-repeat center;
    background-size: cover;
    position: relative;
}

.banner-text{
    /* border: 2px dashed yellow; */
    position: absolute;
    left: 7.5%;
    top: 50%;
    transform: translate(0,-50%);
    /* another way of moving the element. boxのサイズ分上に上がる　marginだと上下の調整はできない。左右だけ。*/
    /* left: 50%;
    transform: translate(-50%,-50%); 
    ↑こうするとど真ん中にくる*/
}

.banner h2{
    color: #c7a17a;
    font-size: 4em;  
    text-transform: uppercase;  
}

.banner h2 span{
    color:  #96746b;
}

.banner p{
    color: #ffffff;
}

.banner a{
    background-color: #312a26;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    padding: 1em;
    text-decoration: none;
    font-weight: 700px;
    display: inline-block;
    /* a tag doesn't support magin. paddingはあるけどmarginはない→block要素に変える */
    margin-top: 1em;
}

/* ads1 section 3,ads2 section 7 */
.ads{
    /* border: 4px solid red; */
    width: 85%;
    margin: 4em auto;
    overflow: auto;
}

.ads-items{
    /* border: 2px dashed blue; */
    height: 350px;
    width: 49%; 
    /* 50% → 49% to make 2% for space */
    float: left;
    position: relative;
}

.ads-item1{
    background-image: url(../images/ads-img1.jpg);
    background-position: center center;
    /* below are added after the review */
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 2%;  /* received all the remaining margin */
}

.ads-item2{
    background-image: url(../images/ads-img2.jpg);
    background-size: cover;
    background-position: center center;
    /* left: 2%; */
    /* Q)Is this right way to make a space between? */
    /* below are added after the review */
    background-repeat: no-repeat;
}

.ads-item3{
    /* background-image: url(../images/ads-img3.jpg); */
    /* background-position: center center;
    background-repeat: no-repeat; */
    background: url(../images/ads-img3.jpg) no-repeat center center;
    background-size: cover;
    margin-right: 2%;
    margin-bottom: 2%;
}

.ads-item4{
    background-image: url(../images/ads-img4.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.ads-item5{
    background-image: url(../images/ads-img5.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 2%;
}

.ads-item6{
    background-image: url(../images/ads-img6.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.ads-text{
    /* border: 1px dashed yellow; */
    color: #ffffff;
    text-transform: uppercase;
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translate(0,-50%);
    text-shadow: 3px 3px 5px #312a26;
    width: 45%;
    /* ↑brの代わりにボックスサイズを小さくして調整 */
}

.ads-text h3{
    /* border: 1px dashed salmon; */
    font-size: 30px;
    /* padding-top: 2em;  */
    /* 代わりにaのmargin-topで調整でもOK */
    line-height: 1.2;   /* brと同じ役割だが調整しやすい */
}

.ads-text a{
    /* border: 1px dashed green; */
    display: block;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin-top: 1em;
}

/* Merchandise Section 4 */
.merch{
    /* border: 4px solid red; */
    width: 85%;
    margin: 4em auto;
}

.section-header{
    /* border: 2px dashed green; */
    text-align: center;
}

.section-header span{
    color: #c7a17a;
    font-style: italic;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

.section-header h2{
    text-transform: uppercase;
}

.section-header hr{
    height: 2px;
    /* hegihtでborderの太さを変えられる */
    width: 30%;
    margin: auto;
    background-color: #c7a17a;
}

.merch-gallery{
    /* border: 3px dashed blue; */
    margin-top: 2em;
    overflow: auto;
}

.merch-items{
    /* border: 2px solid black; */
    width: 24.25%;  /* 残りが3%になるように */
    float: left;
    margin-right: 1%;
}


.merch-items img{
    width: 100%;
    /* it relative to parent = merch */
    height: 300px;
    object-fit: cover;
}

.merch-items h3{
    color: #312a26;
    text-transform: capitalize;
}

/* pseudo-class = fake-class 
    selector:nth-child()
    instead of write class name, you can apply this.
*/

.merch-items:nth-child(4),.merch-items:nth-child(8){
    margin-right: 0;
}

.merch-items:nth-child(5),.merch-items:nth-child(6),.merch-items:nth-child(7),.merch-items:nth-child(8){
    margin-top: 1%;
}

/* Discount Section 5 */

.discount{
    /* border: 1px solid red; */
    width: 85%;
    margin: auto;
    height: 350px;
    background-image: url(../images/discount-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}

.discount-text{
    /* border: 2px dashed yellow; */
    color: #ffffff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.discount-text span{
    font-style: italic;
    text-shadow: 3px 3px 5px #312a26;
    font-family: 'Raleway', sans-serif;
    /* line-height: 1.0;   */
}

.discount-text h2{
    text-transform: uppercase;
    text-shadow: 3px 3px 5px #312a26;
    font-size: 2em;
    /* line-height: 2.0;   */
    /* margin-bottom: 1em; */
}

.discount-text a{
    color: #312a26;
    background-color: rgba(255, 255, 255, .5);
    display: inline-block;
    padding: 1em;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    margin-top: 1em;
}

/* Form Section 8 */
.reservation{
    /* border: 4px solid red; */
    width: 85%;
    margin: auto;
}

/* form　だけでもいいけど複数のformがあったらparentもいる */
.reservation form{
    overflow: auto;
    /* border: 3px solid purple; */
}

.form-group{
    /* border: 2px dashed blue; */
    background-color: #f2f2f2;
    border-radius: 1%;
    width: 49%;
    height: 600px;
    float: left;
    /* position: relative;  */
    /* Q)Is it necessary? .>No */
    margin: 2em 0;
    padding: 1em;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    /* Q)Why it doesn't apply to form-input & Send? refer #397 #438 -> because it's attribute.*/
    text-align: center;
    /* overflow: auto; */
}

.form-group1{
    margin-right: 2%;
}

.form-label{
    /* border: 1px dashed green; */
    display: block;
    width: 94%;
    text-align: left;
    margin: 1% 3%;
}

.form-input{
    /* border: 1px dashed salmon; */
    display: block;
    width: 94%;
    height: 3em;
    margin: 2% 3%;
    padding: 1em;
    font-family: 'Raleway', sans-serif;
    /* Q) Why does this need to add? */
}

.form-group h3{
    margin-top: 1em;
    text-transform: uppercase;
}

.form-group p{
    /* border: 1px dashed magenta; */
    margin: 1em;
    text-transform: capitalize;
}

.time-option{
    /* border: 1px dashed skyblue; */
    width: 94%;
    margin: 2em auto;
    text-align: center;
}

#request{
    width: 94%;
    height: 12em;
    padding: 0.5em;
}

.checkbox{
    /* border: 1px dashed skyblue; */
    width: 94%;
    margin: 1em auto;
    text-align: left;
}

#send{
    background-color: #c7a17a;
    display: block;
    width: 94%;
    margin: auto;
    padding: 1em;
    margin: 1em;
    font-family: 'Raleway', sans-serif; 
    /* Q) Why does this need to add? */
    font-weight: 900;
}

/* pseudo-element = fake element 
selector::before 
selector::after */
/* 「form h3の後ろに」という意味 */

/* form h3::before {
    content: "helloworld";  */
        /* required:中身が書かれる */
    /* background-image: url(../images/reservation-cards.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: block; */
        /* required:pseudoのデフォルトはspanだからinline element ->blockに変える必要あり */
    /* width: 150px;
    height: 30px; */
        /* contentが空欄だとheightを設定しないと映らなくなる */
    /* margin: auto;
 } /*

 /* footer-1 Section 9 */

 .footer{
    /* border: 4px solid red; */
    width: 100%;
    margin: 1.5em auto 0;
    background: url(../images/footer-img.jpg) no-repeat center;
    background-size: cover;
    padding: 0.5em 0;
 }

 .footer-content{
    /* border: 3px dashed yellow; */
    width: 85%;
    margin: auto;
    overflow: auto;
    padding: 1em;
 }

 .footer-widget{
    /* border: 2px dashed blue; */
    color: #ffffff;
    float: left;
    height: 250px;
    margin: 0 2% ;
    overflow: auto;
 }

 .footer-widget h3{
    /* border: 2px dashed green; */
    margin: 1em 0;
    text-transform: uppercase;
 }

 .footer-widget p{
    color:#c7a17a;
    font-weight: 400;
 }

 table{
    font-family: 'Raleway', sans-serif;
 }

/* .search-box{
    border: 1px dashed skyblue;
} */

.search-box form input[type="text"] {
    font-family: 'Raleway', sans-serif;
    padding: 1em;
    width: 65%;
    float: left;
    margin-right: 2%;
}

form input[type="submit"] {
    display: block;
    background-color: #c7a17a;
    padding: 1em;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
}

/* footer-2 Section 10 */
.footer-social{
    background-color: #19100f;
    color: #ffffff;
    overflow: auto;
    height: 60px;
}

.social-widget{
    /* border: 1px dashed blue; */
    width: 33.3%;
    float: left;
    text-align: center;
    padding: 1%;
    height: 60px;
}

.social-widget img{
    width: 8%;
}

.social-widget a{
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
}

.social-widget p{
    /* border: 1px dashed green; */
    height: 100%;
    padding: 1%;
}